includes:
    - phpstan-baseline.neon

parameters:

    paths:
        - app
        - config
        - database
        - resources

    level: 4

    tmpDir: build/phpstan

    checkOctaneCompatibility: true

    checkModelProperties: true

    checkMissingIterableValueType: false

#    ignoreErrors:
#        - '#Call to an undefined method .*badMethod\(\)#'
