includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - app
        - config
        - database
        - resources
    tmpDir: build/phpstan
    checkOctaneCompatibility: false
    checkModelProperties: true
    checkMissingIterableValueType: false

