includes:
    - phpstan-baseline.neon

parameters:

    paths:
        - app
        - config
        - database
        - resources

    level: 4

    tmpDir: build/phpstan

    checkModelProperties: true

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Call to an undefined method .*badMethod\(\)#'
